<div id="<%= dom_id device %>">
  <p>
    <strong><%= device.name %></strong>
  </p>

  <% if device.state != nil %>
    <%= render device.state %>
  <% else %>
  <p>Device state is missing.</p>
  <% end %>

</div>
