<div id="<%= dom_id device %>">
  <p>
    <strong><%= device.name %></strong>
  </p>

  <% if device.state != nil %>
  <%= render device.state %>
  <div id="map_<%= device.id %>" style="height: 250px; width: 100%;"></div>
  <% else %>
  <p>Device state is missing.</p>
  <% end %>

</div>
