<span>
<%= render "shared/led", value: device.active?, label: "", size: 16 %>
<%= link_to device.name, device %>
<small>Last telemetry: <%= device.last_telemetry_time_h %></small>
<span style="float:right;"><%= battery_level_icon(device.main_battery_percentage) %></span>
</span>
