<div id="<%= dom_id device_state %>" class="device_state">
  <details>
    <summary>Logs and Diagnostics</summary>
    <div id="<%= dom_id device_state %>_content">
      <%= render "device_states/device_state_content", device_state: device_state  %> 
    </div>
  </details>
</div>
