<details>
<summary>Mag</summary>
  <ul>
    <li>
      <var>Mag1:</var>
      <var class="value"><%= device_state.mag1 %></var>
    </li>

    <li>
      <var>Mag2:</var>
      <var class="value"><%= device_state.mag2 %></var>
    </li>

    <li>
      <var>Mag3:</var>
      <var class="value"><%= device_state.mag3 %></var>
    </li>

    <li>
      <var>Mag4:</var>
      <var class="value"><%= device_state.mag4 %></var>
    </li>
  </ul>
  </details>