<details>
<summary>Environmental</summary>
  <ul class="state-list">
    <li>
      <var>Pressure (pa):</var>
      <var class="value"><%= device_state.pressure_pa %></var>
    </li>

    <li>
      <var>Airspeed (m/s):</var>
      <var class="value"><%= device_state.airspeed %></var>
    </li>
  </ul>
</details>

