<details>
<summary>Solar</summary>
  <ul class="state-list">
    <li>
      <var>Solar voltage (V):</var>
      <var class="value"><%= device_state.solar1_v %></var>
    </li>

    <li>
      <var>Solar current (A):</var>
      <var class="value"><%= device_state.solar1_a %></var>
    </li>

  </ul>
  </details>

