<details>
<summary>Environmental</summary>
  <ul>
    <li>
      <var>Pressure pa:</var>
      <var class="value"><%= device_state.pressure_pa %></var>
    </li>

    <li>
      <var>Airspeed:</var>
      <var class="value"><%= device_state.airspeed %></var>
    </li>
  </ul>
</details>