<details>
<summary>Buttons</summary>
  <ul>
    <li>
      <var>Button1:</var>
      <var class="value"><%= device_state.button1 %></var>
    </li>

    <li>
      <var>Button2:</var>
      <var class="value"><%= device_state.button2 %></var>
    </li>

    <li>
      <var>Switch1:</var>
      <var class="value"><%= device_state.switch1 %></var>
    </li>

    <li>
      <var>Switch2:</var>
      <var class="value"><%= device_state.switch2 %></var>
    </li>
  </ul>
</details>