<details>
<summary>Rangefinders</summary>
  <ul class="state-list">
    <li>
      <var>Range (m):</var>
      <var class="value"><%= device_state.rangefinder1_m %></var>
    </li>

      </ul>
  </details>

