<details>
<summary>Load Cells</summary>
  <ul>
    <li>
      <var>Load cell1 n:</var>
      <var class="value"><%= device_state.load_cell1_n %></var>
    </li>

    <li>
      <var>Load cell2 n:</var>
      <var class="value"><%= device_state.load_cell2_n %></var>
    </li>

    <li>
      <var>Load cell3 n:</var>
      <var class="value"><%= device_state.load_cell3_n %></var>
    </li>

    <li>
      <var>Load cell4 n:</var>
      <var class="value"><%= device_state.load_cell4_n %></var>
    </li>
  </ul>
  </details>