<details>
<summary>Temperature</summary>
  <ul class="state-list">
    <li>
      <var>Temp1 (°C):</var>
      <var class="value"><%= device_state.temp1_c %></var>
    </li>

    <li>
      <var>Temp2 (°C):</var>
      <var class="value"><%= device_state.temp2_c %></var>
    </li>

  </ul>
</details>
