<details>
<summary>Color</summary>
  <ul>
    <li>
      <var>Color r:</var>
      <var class="value"><%= device_state.color_r %></var>
    </li>

    <li>
      <var>Color g:</var>
      <var class="value"><%= device_state.color_g %></var>
    </li>

    <li>
      <var>Color b:</var>
      <var class="value"><%= device_state.color_b %></var>
    </li>
  </ul>
  </details>
