<% content_for :title, "Editing device state" %>

<h1>Editing device state</h1>

<%= render "form", device_state: @device_state %>

<br>

<div>
  <%= link_to "Show this device state", @device_state %> |
  <%= link_to "Back to device states", device_states_path %>
</div>
