<p style="color: green"><%= notice %></p>

<% content_for :title, "Photographs" %>

<h1>Photographs</h1>

<div id="photographs">
  <% @photographs.each do |photograph| %>
    <%= render photograph %>
    <p>
      <%= link_to "Show this photograph", photograph %>
    </p>
  <% end %>
</div>

<%= link_to "New photograph", new_photograph_path %>
