var {
	font-family:monospace;
	font-style:normal;
	color:  #5d5d62;
}

.value {
	font-family:monospace;
	font-style:normal;
	font-weight:bold;
}

.summary-top {
	margin:10px;
	font-weight:lighter;
}

.summary-details {
	
}


#map { height: 180px; width: 360px;}

* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}