var {
	font-family:monospace;
	font-style:normal;
	color:  #5d5d62;
}

.value {
	font-family:monospace;
	font-style:normal;
	font-weight:bold;
}

.summary-top {
	margin:10px;
	font-weight:lighter;
}

.summary-details {
	
}

.photograph {
	width: 20em;
	border: 1px solid #000;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.device {
	margin: 2em;
	width: 30em;
	background-color: lightblue;
	padding:20px;
	border: 1px solid #000;
}

.container { display:flex; }

#map { height: 180px; width: 360px;}

* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}